*{
    font-size: 62.5%;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 37.5rem;
    margin: 0 auto;
}

h1{
    font-size: 3.6rem;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    line-height: 4.77rem;
    letter-spacing: -.15rem;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;   
    font-family: 'Poppins', sans-serif;
}

h4{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    font-family: 'Poppins', sans-serif;
}

.row h5{
    position: absolute;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.325rem;
  transform: rotate(90deg);  
  top: 3.7rem;
  right: -5.3rem;
  font-family: 'PT Serif', serif;
  letter-spacing: .1rem;

  

}


p{
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 2.1rem; 
   font-family: 'Poppins', sans-serif;;
}

.grid{
    display: flex;
    flex-direction: row;
    margin-top: -70px;
}

.col{
 width: 40%;
 margin: auto;
 display: flex;
 flex-direction: column;

 
}

.copy{
    padding: 0 1rem;
}
.row{
    width: 100%;
    padding: 1rem 0;
    position: relative;
}

.mt13{
    padding-top: 13rem;
}
.row img{
    display: block;
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 768px) {
    main{
        max-width: none;
        max-width: 1080px;
    }

    .copy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .copy h2{
        margin-top: 3.9rem;
    }

    .copy div{
        display: flex;
        flex-direction: column;
        max-width: 40%;
       
    }

    .grid{
        margin-top: 1.1rem;
        flex-direction: column;
    }
    .col{
        display: flex;
        flex-direction: row;
        width: auto;

    }

    .row{
        padding: 0 2rem;
    }

    .row h5{
        top: 3rem;
        right: -4rem;
    }

    p{
        font-size: 1.8rem;
        margin-bottom: 3.9rem;
    }

    .mt100{
        padding-top: 100px;
    }
    
    .mt13{
        padding-top: 0;
    }

  }